### Excludes ###
music*/*
utilities/ressources/music/*.wav
utilities/ressources/music/*.mp3
testMusic/*
.vscode/
.idea/
venv/
*.pyc
random_samples/
.DS_Store
**/output/*
*__pycache__*
.DS_store
*.csv

### Includes ###
!*/.gitkeep