pytest==4.2.1
pymongo==3.5.1
pyyaml==5.1
tabulate==0.8.3
# Video dependencies
scipy==1.2.1
h5py==2.9.0
opencv-python==4.0.0.21
tensorflow==1.13.1
numpy==1.16.2
keras==2.2.4
# Rest API
flask-restplus==0.12.1
requests==2.21.0
